1. Download the whole file from kerwin brunch
2. Run the code(Main.py). (libraries should be all available already) 
3. Click on the upload page (DO NOT touch other pages - not stable yet)
4. Click on the browse button, select ur excel file and open it
5. Click on the Generate Long&Lat button
6. You will know ur file is ready when u see the output print “Generate Sucessful”
7. Sent the excel sheet into the tele grp after you are done
8. Try not to edit any codes in the files
9. If you did DO NOT commit anything to my brunch.


Things to take note
1. It will take super long to generate the long lat due to enormous amount of data u guys srape so be patient tks. (Took me 2.5 min to process and save the long and lat for 140 data)
2. save ur excel file in csv  format "CSV UTF-8 (Comma delimited)"