<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <!-- Sidebar Section -->
    <nav class="sidebar">            
        <div>
            <div class="sidebar__logo">
                <h2 class="sidebar__logo-header">Resale HDB</h2>    
            </div>
            <ul class="side-nav">
              <span class="side-nav__header">Navigation Bar</span>
              <a href="/scrapping">
                  <li class="side-nav__item">
                      Scrapping
                  </li>
              </a>
              <a href="/Charts">
                  <li class="side-nav__item">
                      Charts
                  </li>
              </a>
          </ul>
        </div>        
    </nav>

    <!-- Main Content page -->
    <main class="main-content">
        <div class="top-container">
        </div>
        <div class="bottom-container">
            <div class="bottom-container__left">


                <!-- Box 1 -->
                <div class="box spending-box">
                    <div class="header-container">
                        <!-- Title Website Scrapping Selection -->
                        <h2> Press Algorithm Button At least Onse Before plotting</h2>
                    </div>
                </div>

                <div class="box spending-box">
                    <div class="header-container">
                        <form id="myForm_PageCount" action="/run_logic" method="POST">
                            <label for="my_dropdown_hospital">Hospital</label>
                                <select name="my_dropdown_hospital" id="my_dropdown">
                                    <option value="5" selected>5</option>
                                    <option value="4">4</option>
                                    <option value="3">3</option>
                                    <option value="2">2</option>
                                    <option value="1">1</option>
                                </select>
       
                            <label for="drop_down_area">School</label>
                            <select name="drop_down_area" id="my_dropdown">
                                <option value="5" >5</option>
                                <option value="4"selected>4</option>
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1</option>
                            </select>

                            <label for="drop_down_mrt">MRT</label>
                            <select name="drop_down_mrt" id="my_dropdown">
                                <option value="5" >5</option>
                                <option value="4">4</option>
                                <option value="3"selected>3</option>
                                <option value="2">2</option>
                                <option value="1">1</option>
                            </select>

                            <label for="drop_down_supermarket">SuperMarket</label>
                            <select name="drop_down_supermarket" id="my_dropdown">
                                <option value="5" >5</option>
                                <option value="4">4</option>
                                <option value="3">3</option>
                                <option value="2"selected>2</option>
                                <option value="1">1</option>
                            </select>

                            <label for="drop_down_parks">Parks</label>
                            <select name="drop_down_parks" id="my_dropdown">
                                <option value="5" >5</option>
                                <option value="4">4</option>
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1"selected>1</option>
                            </select>
                            <input type="submit" value="Algorithm"/>
                        </form>
                    </div>
                </div>


                <!-- Draw Map -->
                <div class="box spending-box">
                    <div class="header-container">
                        <form id="myForm_PageCount" action="/request_chart" method="POST">
                            <label for="my_dropdown_map">Style</label>
                            <select name="my_dropdown_map" id="my_dropdown">
                                <option value="0">open-street-map</option>
                                <option value="1">Light Mode</option>
                                <option value="2">Dark Mode</option>
                                <option value="3">stamen-terrain</option>
                                <option value="4">Black & White</option>
                            </select>

       
                            <label for="drop_down_area">Area</label>
                            <select name="drop_down_area" id="my_dropdown">
                                <option value="All">All</option>
                                <option value="Ang Mo Kio">ANG MO KIO</option>
                                <option value="Bedok">BEDOK</option>
                                <option value="Bishan">BISHAN</option>
                                <option value="Bukit Batok">BUKIT BATOK</option>
                                <option value="Bukit Merah">BUKIT MERAH</option>
                                <option value="Bukit Panjang">BUKIT PANJANG</option>
                                <option value="Bukit Timah">BUKIT TIMAH</option>
                                <option value="Central Area">CENTRAL AREA</option>
                                <option value="Choa Chu Kang">CHOA CHU KANG</option>
                                <option value="Clementi">CLEMENTI</option>
                                <option value="Geyland">GEYLANG</option>
                                <option value="Hougang">HOUGANG</option>
                                <option value="Jurong East">JURONG EAST</option>
                                <option value="Jurong West">JURONG WEST</option>
                                <option value="KALLANG/WHAMPOA">KALLANG/WHAMPOA</option>
                                <option value="MARINE PARADE">MARINE PARADE</option>
                                <option value="PASIR RIS">PASIR RIS</option>
                                <option value="PUNGGOL">PUNGGOL</option>
                                <option value="QUEENSTOWN">QUEENSTOWN</option>
                                <option value="SEMBAWANG">SEMBAWANG</option>
                                <option value="SENGKANG">SENGKANG</option>
                                <option value="TAMPINES">TAMPINES</option>
                                <option value="TOA PAYOH">TOA PAYOH</option>
                                <option value="WOODLANDS">WOODLANDS</option>
                                <option value="YISHUN">YISHUN</option>
                            </select>

                            <label for="drop_down_room_type">Room Type</label>
                            <select name="drop_down_room_type" id="my_dropdown">
                                <option value="All">All</option>
                                <option value="HDB 5 Room">5 Room</option>
                                <option value="HDB 4 Room">4 Room</option>
                                <option value="HDB 3 Room">3 Room</option>
                                <option value="HDB 2 Room">2 Room</option>
                                <option value="HDB 1 Room">1 Room</option>
                            </select>
                            <input type="submit" value="Draw Map"/>

                            {{ plot_div | safe }}
                        </form>
                    </div>
                </div>

             

                <!-- Draw table -->
                <div class="box spending-box">
                    <div class="header-container">
                        <h3 class="section-header">Plot 1</h3>
                    </div>
                    <div id="plot1">
                        <form id="myForm_PageCount" action="/display_table" method="POST">
                            <input type="submit" value="Draw Table" onclick="startLoadingTwo()"/>
                            <!-- <div id="loadingCircleTwo" class="loading"></div> -->
                            <!-- <label id="demoTwo">
                                {{ algo_one }}
                            </label> -->
                        </form>

                        {{ data | safe }}

                    </div>
                </div>

                
               
            </div>
        </div>
    </main>
</div>





</body>
</html>
