<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <!-- Sidebar Section -->
    <nav class="sidebar">            
        <div>
            <div class="sidebar__logo">
                <h2 class="sidebar__logo-header">Resale HDB</h2>    
            </div>
            <ul class="side-nav">
              <span class="side-nav__header">Navigation Bar</span>
              <a href="/scrapping">
                  <li class="side-nav__item">
                      Scrapping
                  </li>
              </a>
              <a href="/Charts">
                  <li class="side-nav__item">
                      Charts
                  </li>
              </a>
          </ul>
        </div>        
    </nav>

    <!-- Main Content page -->
    <main class="main-content">
        <div class="top-container">
        </div>
        <div class="bottom-container">
            <div class="bottom-container__left">
                <!-- Box 1 -->
                <div class="box spending-box">
                    <div class="header-container">
                        <!-- Title Website Scrapping Selection -->
                        <h3 class="section-header">HDB Scrapping Section</h3>
                        
                        <form id="myForm_PageCount" action="/run_logic" method="POST">
                            <input type="submit" value="Complie Logic" onclick="startLoadingTwo()"/>
                            <!-- <div id="loadingCircleTwo" class="loading"></div> -->
                            <!-- <label id="demoTwo">
                                {{ algo_one }}
                            </label> -->
                        </form>

                    </div>
                </div>

                <div class="box spending-box">
                    <div class="header-container">
                        <!-- Title Website Scrapping Selection -->
                        <h3 class="section-header">HDB Scrapping Section</h3>

                        <form id="myForm" action="/request_chart" method="POST">
                            <label for="my_dropdown_map">Map</label>
                            <select name="my_dropdown_map" id="my_dropdown">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <input type="submit" value="Draw Map" />
                        </form>


                        <form id="myForm_PageCount" action="/display_table" method="POST">
                            <input type="submit" value="Draw Table" onclick="startLoadingTwo()"/>
                            <!-- <div id="loadingCircleTwo" class="loading"></div> -->
                            <!-- <label id="demoTwo">
                                {{ algo_one }}
                            </label> -->
                          </form>

                    </div>
                </div>

                <div class="box spending-box">
                    <div class="header-container">
                        <h3 class="section-header">Plot 1</h3>
                    </div>
                    <div id="plot1">
                        {{ data | safe }}
                    </div>
                </div>

                
                {{ plot_div | safe }}

            </div>
        </div>
    </main>
</div>





</body>
</html>
