<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/website.css">

</head>
<body>
    <!-- This section is all the scrapping and deep crawling inside here -->
    <div class="box box1">
        <form id="myForm" action="/" method="POST">
            <h1>Who want to buy the next 1 Million HDB</h1>
            <p>Resale HDB Analysis Project</p>
        </form>
        
        <!-- Step 1 Chose Website -->
        <form id="myForm" action="/website" method="POST">
            <!-- DropDown Return Website to Scrap -->
            <label for="my_dropdown">Chose Website : (1st)</label>
            <select name="my_dropdown" id="my_dropdown">
                <option value="1">RENTinSINGAPORE</option>
                <option value="2">99co</option>
            </select>
            <input type="submit" value=OK />
        </form>
        
        <p>RENTinSINGAPORE</p>
        
        <form id="myForm_PageCount" action="/get_page_count" method="POST">
            <label for="my_page">Number of Page : (2nd)</label>
            <input id="my_page" name="my_page" type="number" min="0" max={{ value }}>
            <input type="submit" value=OK />
        </form>
        
        <form id="myForm_PageCount" action="/scrappingRIS" method="POST">
            <input type="submit" value="Scraping-RENTinSINGAPORE" />
            <label>
                {{ valueTwo }}
            </label>
        </form>
        
        <form id="myForm_PageCount" action="/deepcrawlingRIS" method="POST">
            <input type="submit" value="DeepCrawling-RENTinSINGAPORE" />
            <label>
                {{ valueThree }}
            </label>
        </form>
        
        <p>99co</p>
        
        <form id="myForm_PageCount" action="/get_page_count_co" method="POST">
            <label for="my_page_co">Number of Page : (2nd)</label>
            <input id="my_page_co" name="my_page_co" type="number" min="0" max={{ valueFive }}>
            <input type="submit" value=OK />
        </form>
        
        <form id="myForm_PageCount" action="/scrapping_co" method="POST">
            <input type="submit" value="Scrapping-99co" />
            <label>
                {{ valueSix }}
            </label>
        </form>
    </div>
    
</body>
</html> 









