<link rel="stylesheet" href="../static/website2.css">

<body>
<div class="container">
    <!-- Sidebar Section -->
    <nav class="sidebar">            
        <div>
            <div class="sidebar__logo">
                <h2 class="sidebar__logo-header">Resale HDB</h2>    
            </div>
            <ul class="side-nav">
              <span class="side-nav__header">Navigation Bar</span>
              <a href="/scrapping">
                  <li class="side-nav__item">
                      Scrapping
                  </li>
              </a>
              <a href="/Charts">
                  <li class="side-nav__item">
                      Charts
                  </li>
              </a>
          </ul>
        </div>          
        
                 
    </nav>

    <!-- Main Content page -->
    <main class="main-content">
        <div class="top-container">
        </div>
        <div class="bottom-container">
            <div class="bottom-container__left">

                <!-- Section 1 -->
                <div class="box spending-box">
                    <div class="header-container">
                      <!-- Title Website Scrapping Selection -->
                      <form id="myForm" action="/" method="POST"> 
                        <h3 class="section-header">HDB Scrapping Section</h3>
                      </form> 
                    </div>

                    <!-- Website Scrapping Selection -->
                    <form id="myForm" action="/website" method="POST">
                        <label for="my_dropdown">Chose Website : (1st)</label>
                        <select name="my_dropdown" id="my_dropdown">
                            <option value="1">99co</option>
                            <option value="2">PropNex</option>
                        </select>
                        <input type="submit" value=OK />
                      </form>
                </div>

              <!-- Section 2 -->
                <div class="box total-box">
                    <div class="total-box__left">
                      <div class="header-container">
                        <h3 class="section-header">PropNex</h3>                        
                    </div>
                      
                    <form id="myForm_PageCount" action="/get_page_count_prop" method="POST">
                      <label for="my_page_prop">Number of Page : (3nd)</label>
                      <input id="my_page_prop" name="my_page_prop" type="number" min="0" max={{ prop_value_page }}>
                      <input type="submit" value=OK />
                    </form>

                    <form id="myForm_PageCount" action="/scrapping_prop" method="POST">
                      <input type="submit" value="Scrapping-Propnex" onclick="startLoadingThree()"/>
                      <div id="loadingCircleThree" class="loading"></div>
                      <label id="demoThree">
                          {{ prop_one }}
                      </label>
                    </form>

                    <form id="myForm_PageCount" action="/dc_scrapping_prop" method="POST">
                      <input type="submit" value="Deep-Crawling-Scrapping-Propnex" onclick="startLoadingFour()"/>
                      <div id="loadingCircleFour" class="loading"></div>
                      <label id="demoFour">
                          {{ prop_two }}
                      </label>
                    </form>

                    </div>
                    <div class="total-box__right">
                        <div class="header-container">
                            <h3 class="section-header">99co</h3>                                                              
                        </div>
                          <form id="myForm_PageCount" action="/get_page_count_co" method="POST">
                            <label for="my_page_co">Number of Page : (2nd)</label>
                            <input id="my_page_co" name="my_page_co" type="number" min="0" max={{ valueFive }}>
                            <input type="submit" value=OK />
                          </form>
                      
                        <form id="myForm_PageCount" action="/scrapping_co" method="POST">
                          <input type="submit" value="Scrapping-99co" onclick="startLoadingTwo()"/>
                          <div id="loadingCircleTwo" class="loading"></div>
                          <label id="demoTwo">
                              {{ valueSix }}
                          </label>
                        </form>
                    </div>
                </div>
                
                 <!-- Section 3 -->
                 <div class="box spending-box">
                    <div class="header-container">
                      <!-- Title Website Scrapping Selection -->
                      <h3 class="section-header">Get Chart Custom</h3>
                    </div>
                    
                    <form action="/get_options" method="POST">
                        <label for="options">Choose a Options : </label>
                        <select name="options" id="options">
                          <option value="1">Options 1</option>
                          <option value="2">Options 2</option>
                          <option value="3">Options 3</option>
                          <option value="4">Options4</option>
                        </select>
                        <br><br>
                        <input type="submit" value="Generate Chat">
                        <img action="/get_options" method="GET" src= {{ imagevalue }} alt="Italian Trulli">   
                      </form>
                </div>
            </div>
        </div>
    </main>
</div>
<script>
function startLoadingTwo() {
  var loadingCircle = document.getElementById("loadingCircleTwo");
  var demoLabel = document.getElementById("demoTwo");

  loadingCircle.style.display = "block"; // Show loading circle
  demoLabel.style.display = "none"; // Hide demo label

  // Simulate loading time with a timeout (replace with your actual data loading logic)
  setTimeout(function() {
    // Once the value is available, hide loading circle and show demo label
    loadingCircle.style.display = "none";
    demoLabel.style.display = "block";
  }, 1000000); // Adjust the time as needed
}

function startLoadingThree() {
  var loadingCircle = document.getElementById("loadingCircleThree");
  var demoLabel = document.getElementById("demoThree");

  loadingCircle.style.display = "block"; // Show loading circle
  demoLabel.style.display = "none"; // Hide demo label

  // Simulate loading time with a timeout (replace with your actual data loading logic)
  setTimeout(function() {
    // Once the value is available, hide loading circle and show demo label
    loadingCircle.style.display = "none";
    demoLabel.style.display = "block";
  }, 1000000); // Adjust the time as needed
}

function startLoadingFour() {
  var loadingCircle = document.getElementById("loadingCircleFour");
  var demoLabel = document.getElementById("demoFour");

  loadingCircle.style.display = "block"; // Show loading circle
  demoLabel.style.display = "none"; // Hide demo label

  // Simulate loading time with a timeout (replace with your actual data loading logic)
  setTimeout(function() {
    // Once the value is available, hide loading circle and show demo label
    loadingCircle.style.display = "none";
    demoLabel.style.display = "block";
  }, 1000000); // Adjust the time as needed
}
</script
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.min.js"></script>
<scrip src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>